div.ezrecommendation-statistics{
	
}
div.ezrecommendation-statistics table{
	margin-top:20px;
	width:450px;
	
}
div.ezrecommendation-statistics table th {
	background-color: #737882;
    background-image: none;
    color: #FFFFFF;
    padding: 5px;
    border: 1px solid #F0F0F0;
    text-align: center;
}
div.ezrecommendation-statistics table td{
	border: 1px solid #F0F0F0;
	 text-align: right;
}

div.ezrecommendation-statistics #ezrecommendation_stat_date{
	padding-left: 30px;
}
/*
div.ezrecommendation-statistics table{
	width:450px;
	margin-top:20px;
	}
div.ezrecommendation-statistics table td.ezrecommendation-statistics-text-field{
	text-align: right;
	}
*/	
div.ezrecommendation-statistics input.button{
	margin-top:10px;
}
div.ezrecommendation-statistics input.ezrecommendation-statistics-text-field{
	width:250px;
}
div.warning{
	margin-top:10px;
	padding:20px;
	border:red 1px solid;
	width:500px;
}
div.ezrecommendation-statistics div.info{
	padding:20px 10px 0px 10px; 
}
div.ezrecommendation-statistics div.message-feedback, div.ezrecommendation-statistics div.message-warning, div.ezrecommendation-statistics div.message-error{
	border: 6px solid;	
}
div.ezrecommendation-statistics div.message-error{
	border-color:#C11B17;
	}
div.ezrecommendation-statistics div.message-feedback{
border-color:#3E8D29;
	}

div.element_mapping {
    float: left;
    padding: 1em 0 0;
    width: 10em;
}
fieldset.mapping_block_required{
	float:left;
	margin-right: 2em;
    width: 25em;
	
}
fieldset.mapping_block_required small{
	color: #FF0000;
}

fieldset.mapping_block_second{
    width: 25em;
	
}
div.ezrecommendation-statistics table table.stat_revenue{
	 margin: 0;
    width: 170px;
}
div.ezrecommendation-statistics table table.stat_revenue td{
	border-bottom: 0 none;
    border-left: 0 none;
}
div.ezrecommendation-statistics table table.stat_revenue td.stat_curr{
	border-right: 0 none;
}